@{
    ViewData["Title"] = "Home Page";
}

<section class="py-8 overflow-hidden " id="home">
    <div class="container">
        <div class="row flex-center text-white">
               <h1>Welcome</h1>
            <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}