@{ ViewData["Title"] = "Home Page"; }

<link href="~/css/customlibuse.css" rel="stylesheet" />
<section class="py-8 overflow-hidden" id="home">
  <div class="container">
       
            <button id="popper-button">Toggle Popover</button>
            <div id="popper-popup">
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <div id="popper-arrow"></div>
            </div>

  </div>
</section>

@section Scripts {
    <script src="~/js/customlibraryuse.js"></script>
}
