@{ ViewData["Title"] = "Home Page"; }

<link href="~/css/customPopper.css" rel="stylesheet" />
<section class="py-8 overflow-hidden" id="home">
  <div class="container">
        <button id="popper-btnClick" data-event="click" class="popper-button">Click Popover</button>
        <div  class="popper-popup">
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <a href="#">menu item</a>
            <div class="popper-arrow"></div>
         </div>
            <button id="popper-btnHover" data-event="hover" class="popper-button">Hover Popover</button>
            <div  class="popper-popup">
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <a href="#">menu item</a>
                <div  class="popper-arrow"></div>
            </div>
  </div>
    <div class="dt-responsive table-responsive">
        <table id="dt-basic"
               class="table table-striped table-bordered nowrap" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008/10/16</td>
                    <td>$470,600</td>
                </tr>
                <tr>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>43</td>
                    <td>2012/12/18</td>
                    <td>$313,500</td>
                </tr>
                <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>19</td>
                    <td>2010/03/17</td>
                    <td>$385,750</td>
                </tr>
                <tr>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>66</td>
                    <td>2012/11/27</td>
                    <td>$198,500</td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010/06/09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009/04/10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012/10/13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012/09/26</td>
                    <td>$217,500</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

@section Scripts {
	<script src="~/js/customdatatable.js"></script>
    <script src="~/js/customPopper.js"></script>
}
