@model RMS_FRONTEND.Models.Orders.OrderWithDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Edit</h1>

<h4>OrderDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="orderForm" asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
            <div id="inputRowsContainer">
                <div class="col-md-5">
                    <label>Table Number</label>
                    <input type="number" asp-for="TableNumber" name="TableNumber" class="form-control" />
                </div>
                @for (int i = 0; i < Model.OrderDetails.Count; i++)
                {
                    @* <input type="hidden" asp-for="OrderDetails[i].OrderDetailId" value="@Model.OrderDetails[i].OrderDetailId" /> *@
                    <div class="row mb-2 form-row">
                        <div class="col-md-5">
                            <label>Menu</label>
                            <select asp-for="OrderDetails[i].MenuId" class="form-control" asp-items="ViewBag.MenuId"></select>
                        </div>
                        <div class="col-md-5">
                            <label>Quantity</label>
                            <input asp-for="OrderDetails[i].Quantity" class="form-control" />
                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <button type="button" class="btn btn-success add-row me-2">+</button>
                            <button type="button" class="btn btn-danger remove-row">-</button>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            // Add new row on clicking 'Add' button
            $(document).on('click', '.add-row', function () {
                // Find the current number of rows
                var rowIndex = $('#inputRowsContainer .form-row').length;

                // Clone the first row and append it to the container
                var newRow = $('.form-row:first').clone();
                newRow.find('input, select').val('');  // Clear the input values

                // Update the names of the inputs to match the new index
                newRow.find('select').attr('name', 'OrderDetails[' + rowIndex + '].MenuId');
                newRow.find('input').attr('name', 'OrderDetails[' + rowIndex + '].Quantity');

                $('#inputRowsContainer').append(newRow);
            });

            // Remove row on clicking 'Remove' button
            $(document).on('click', '.remove-row', function () {
                // Remove row only if more than one exists
                if ($('.form-row').length > 1) {
                    $(this).closest('.form-row').remove();

                    // After removing, update the names of all remaining rows to ensure correct indexing
                    $('#inputRowsContainer .form-row').each(function (index) {
                        $(this).find('select').attr('name', 'OrderDetails[' + index + '].MenuId');
                        $(this).find('input').attr('name', 'OrderDetails[' + index + '].Quantity');
                    });
                }
            });

        });
    </script>
}
