@using System.Security.Claims
 @* @{
     var name = Context.Session.GetString("name");
     var role = Context.Session.GetString("role");
 } *@
<!DOCTYPE html>
@* https://www.jqueryscript.net/menu/dashboard-sidebar-nav.html *@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{
        await Html.RenderPartialAsync("_LinkPartial");
    }
    <link href="~/dashnav/assets/css/style.min.css" rel="stylesheet" />
	<link href="~/lib/remixicon/remixicon.min.css" rel="stylesheet" />
</head>
<body class="skin-base animate">
    <div class="sidebar">
        <div class="sidebar-header">
            <a href="#" class="sidebar-logo"><span></span></a>
            <a href="#" class="sidebar-logo-text">R<span>M.S</span></a>
        </div><!-- sidebar-header -->
        <div class="sidebar-search">
            <div class="search-body">
                <i data-feather="search"></i>
                <input type="text" class="form-control" placeholder="Search...">
            </div><!-- search-body -->
        </div><!-- sidebar-search -->
        <div class="sidebar-body pt-20">
            <div class="nav-group">
                <div class="nav-group-label">Management</div>
                <ul class="nav-sidebar">
                    <li class="nav-item active">
                        <a href="/Dashboard" class="nav-link"><i data-feather="package"></i><span>Dashboard</span></a>
                       
                    </li>
                    <li class="nav-item">
                        <a href="/User" class="nav-link "><i data-feather="user"></i><span>Users</span></a>
                       
                    </li>
                   
                </ul>
            </div><!-- nav-group -->
            <div class="nav-group">
                <div class="nav-group-label">Orders</div>
                <ul class="nav-sidebar">
                    <li class="nav-item">
                        <a href="/Order" class="nav-link"><i data-feather="shopping-bag"></i><span>Orders</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Menu" class="nav-link"><i data-feather="list"></i><span>Menu</span></a>
                       
                    </li>
                    <li class="nav-item">
                        <a href="/Category" class="nav-link"><i data-feather="gift"></i><span>Category</span></a>
                        
                    </li>
                </ul>
            </div><!-- nav-group -->
         <div class="nav-group">
                <div class="nav-group-label">Finance</div>
                <ul class="nav-sidebar">
                    
                    <li class="nav-item"><a href="/Billing" data-id="feedback" class="nav-link"><i data-feather="edit-3"></i><span>Billing</span></a></li>
                    <li class="nav-item"><a href="/Recipe" data-id="feedback" class="nav-link"><i data-feather="clipboard"></i><span>Recipe</span></a></li>
                    <li class="nav-item"><a href="/Inventory" data-id="feedback" class="nav-link"><i data-feather="archive"></i><span>Inventory</span></a></li>
                </ul>
            </div><!-- nav-group -->
        
        
        </div><!-- sidebar-body -->
        <div class="sidebar-footer">
            <a href="" class="avatar online"><span class="avatar-initial">s</span></a>
            <div class="avatar-body">
                @if (User.Identity.IsAuthenticated)
                        {
                <div class="d-flex align-items-center justify-content-between">
                        <h6> @* @name *@ @User?.Identity?.Name</h6>
                    <a href="/Dashboard/Settings" class="footer-menu"><i class="ri-settings-4-line"></i></a>
                </div>
                    <span> @* @role *@ @User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value</span>
                        }
            </div><!-- avatar-body -->
        </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="content">
            @await Html.PartialAsync("_Header","Dashboard")
        <div class="content-body">
            @RenderBody()
        </div>
    </div>
@*     <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script> *@
    @{
        await Html.RenderPartialAsync("_ScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/feather-icons/feather.min.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/feather-icons/feather.min.js"></script>
    <script src="~/dashnav/assets/js/script.js"></script>
        @await RenderSectionAsync("Scripts", required: false);
</body>
</html>
