<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RMS_FRONTEND</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body >
    <header>
        <nav class="navbar bg-primary navbar-expand-lg navbar-light  fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
			<div class="container">
                <a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block" width="100" src="~/assets/images/logo.jpg" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">Logo</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
                    <div class="mx-auto pt-3 pt-lg-0 d-block d-lg-none d-xl-block">
                        @* <p class="mb-0 fw-bold text-lg-center">Deliver to: <i class="fas fa-map-marker-alt text-warning mx-2"></i><span class="fw-normal">Current Location </span><span>Mirpur 1 Bus Stand, Dhaka</span></p> *@
                    </div>
                    <form class="d-flex mt-2 mt-lg-0 ms-lg-auto ms-xl-0">
                       
                        <a href="/Login" class="btn btn-light bg-white shadow-white text-primary" role="button" > <i class="fas fa-user me-2"></i>Login</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
  <div class="min-vh-100 d-flex flex-column">
        <main class="flex-grow-1">
            @RenderBody()
        </main>


    <footer>
        <section class="py-0 bg-1000 d-flex flex-column">
            <div class="container">
               
                <div class="row flex-center">
                    <div class="col-md-6 order-0 mt-2">
                        <p class="text-200 text-center text-md-center">All rights Reserved &copy; Your Company, 2021</p>
                    </div>
                   
                </div>
            </div>
        </section>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
